body {
	padding: 0;
	margin: 0;
}

.container {
	background-color: #86f0a2;
	text-align: center;
	height: 100vh;
}

.title {
	padding-top: 2rem;
}

.paper {
	// min-height: 100%;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	margin-top: 2rem;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}

.genBtn {
	// background-color: aqua;
	margin-top: 3rem !important;
}
